In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [2]:
df= pd.read_csv("customer.csv")
df.sample(8)

    age  gender   review education purchased
31   22  Female     Poor    School       Yes
6    18    Male     Good    School        No
2    70  Female     Good        PG        No
7    60  Female     Poor    School       Yes
18   19    Male     Good    School        No
35   74    Male     Poor    School       Yes
29   83  Female  Average        UG       Yes
22   18  Female     Poor        PG       Yes

In [3]:
df.isnull().sum()

age          0
gender       0
review       0
education    0
purchased    0
dtype: int64

In [4]:
df.shape

(50, 5)

## Aam Zindagi

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.drop(columns=['purchased']),df['purchased'],test_size=0.2,random_state=45)

In [6]:
x_train['review'].value_counts()

Good       15
Poor       15
Average    10
Name: review, dtype: int64

In [7]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good']])

In [8]:
# oe.fit(x_train)

In [9]:
# Ordinalencoding -> education
X_train_review = oe.fit_transform(x_train[['review']])
X_test_review = oe.fit_transform(x_test[['review']])

In [10]:
X_train_review.shape

(40, 1)

In [11]:
x_train['education'].value_counts()

UG        15
PG        13
School    12
Name: education, dtype: int64

In [12]:
oe = OrdinalEncoder(categories=[['PG','UG','School']])

In [13]:
X_train_education = oe.fit_transform(x_train[['education']])
X_test_education = oe.fit_transform(x_test[['education']])

In [14]:
X_train_education.shape

(40, 1)

In [15]:
# OneHotEncoding -> gender,city
# ohe = OneHotEncoder(drop='fist',sparse=False)
ohe=OneHotEncoder(drop="first",sparse=False)
X_train_gender = ohe.fit_transform(x_train[['gender']])
X_test_gender = ohe.fit_transform(x_test[['gender']])

In [16]:
X_train_gender.shape

(40, 1)

In [17]:
# Extracting Age
X_train_age = x_train.drop(columns=['gender','review','education']).values
X_test_age = x_test.drop(columns=['gender','review','education']).values

X_train_age.shape

(40, 1)

In [18]:
# Extracting Age
X_train_transformed = np.concatenate((X_train_age,X_train_gender,X_train_review,X_train_education),axis=1)
X_test_transformed = np.concatenate((X_test_age,X_test_gender,X_test_review,X_test_education),axis=1)

X_train_transformed.shape

(40, 4)

## Mentos Zindagi

In [19]:
from sklearn.compose import ColumnTransformer

In [20]:
transformer = ColumnTransformer(transformers=[('tnf1',OneHotEncoder(drop="first",sparse=False),['gender']),
                                         ('tnf2',OrdinalEncoder(categories=[['PG','UG','School']]),['education']),
                                        ('tnf3',OrdinalEncoder(categories=[['Poor','Average','Good']]),['review'])
                                        ],remainder='passthrough')

In [21]:
transformer.fit_transform(x_train).shape

(40, 4)

In [22]:
transformer.fit_transform(x_test).shape

(10, 4)