In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [2]:
df= pd.read_csv("covid_toy.csv")
df.sample(8)

    age  gender  fever   cough       city has_covid
19   42  Female    NaN  Strong  Bangalore       Yes
82   24    Male   98.0    Mild    Kolkata       Yes
51   11  Female  100.0  Strong    Kolkata       Yes
61   81  Female   98.0  Strong     Mumbai        No
31   83    Male  103.0    Mild    Kolkata        No
67   65    Male   99.0    Mild  Bangalore        No
26   19  Female  100.0    Mild    Kolkata       Yes
45   72    Male   99.0    Mild  Bangalore        No

In [3]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

## Aam Zindagi

In [4]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2,random_state=4)

In [5]:
#adding simple imputer to fever col
si = SimpleImputer()
X_train_fever = si.fit_transform(x_train[['fever']])
X_test_fever = si.fit_transform(x_test[['fever']])

In [6]:
X_train_fever.shape

(80, 1)

In [7]:
x_train['cough'].value_counts()

Mild      47
Strong    33
Name: cough, dtype: int64

In [8]:
# Ordinalencoding -> cough
oe=OrdinalEncoder(categories=[['Mild','Strong']])
X_train_cough = oe.fit_transform(x_train[['cough']])
X_test_cough = oe.fit_transform(x_test[['cough']])

In [9]:
X_train_cough.shape

(80, 1)

In [10]:
# OneHotEncoding -> gender,city
# ohe = OneHotEncoder(drop='fist',sparse=False)
ohe=OneHotEncoder(drop="first",sparse=False)
X_train_gender_city = ohe.fit_transform(x_train[['gender','city']])
X_test_gender_city = ohe.fit_transform(x_test[['gender','city']])

In [11]:
X_train_gender_city.shape

(80, 4)

In [12]:
# Extracting Age
X_train_age = x_train.drop(columns=['gender','fever','cough','city']).values
X_test_age = x_test.drop(columns=['gender','fever','cough','city']).values

X_train_age.shape

(80, 1)

In [13]:
X_train_transformed = np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_cough),axis=1)
# also the test data
X_test_transformed = np.concatenate((X_test_age,X_test_fever,X_test_gender_city,X_test_cough),axis=1)

X_train_transformed.shape

(80, 7)

## Mentos Zindagi

In [14]:
from sklearn.compose import ColumnTransformer

In [18]:
transformer = ColumnTransformer(transformers=[('tnf1',SimpleImputer(),['fever']),
                                         ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
                                         ('tnf3',OneHotEncoder(drop="first",sparse=False),['gender','city'])
                                        ],remainder='passthrough')

In [20]:
transformer.fit_transform(x_train).shape

(80, 7)

In [21]:
transformer.fit_transform(x_test).shape

(20, 7)